// Butex API
// export const ip = "http://192.168.30.230:8080";
// export const ip = "http://163.47.37.51:8080";
// export const ip = "https://ums.butex.edu.bd";
// export const ip = "http://192.168.30.232:8080";
// export const ip = "http://192.168.30.222:8080";
export const ip = "http://localhost:8080";
// export const admissionCommitteeIP = "http://163.47.37.53/";
// export const admissionCommitteeIP = "http://localhost:4201/";
export const admissionCommitteeIP = "https://admission.butex.edu.bd/";




export const url = `${ip}/api/v1`;
export const FileUrl = `${ip}/api/v1/faculty/file-for-get`;
export const imageAssetURL = `http://${ip}/storage/assets/image`;
export const userImageURL = `http://${ip}/storage/image/`;
export const applicantImageURL = `http://${ip}/storage`;
export const studentImageURL = `http://${ip}/storage`;
export const imageUrl = `http://${ip}/storage`;
export const facultyImageURL = `http://${ip}/storage/faculty`;
export const profileImage = `http://${ip}/storage/image`;


// export const url = "http://203.190.8.206:8080/api/v1";
// export const FileUrl = `http://203.190.8.206:8080/api/v1/faculty/file-for-get`;
// export const imageAssetURL = `http://203.190.8.206:8080/storage/assets/image`;
// export const userImageURL = `http://203.190.8.206:8080/storage/image/`;
// export const applicantImageURL = `http://203.190.8.206:8080/storage`;
// export const studentImageURL = `http://203.190.8.206:8080/storage`;
// export const imageUrl = `http://203.190.8.206:8080/storage`;
// export const facultyImageURL = `http://203.190.8.206:8080/storage/faculty`;
// export const profileImage = "http://203.190.8.206:8080/storage/image";

// export const url = `http://localhost:8080/api/v1`;
// export const FileUrl = `http://localhost:8080/api/v1/faculty/file-for-get`;
// export const imageAssetURL = `http://localhost:8080/storage/assets/image`;
// export const userImageURL = `http://localhost:8080/storage/image/`;
// export const applicantImageURL = `http://localhost:8080/storage`;
// export const studentImageURL = `http://localhost:8080/storage`;
// export const imageUrl = `http://localhost:8080/storage`;
// export const facultyImageURL = `http://localhost:8080/storage/faculty`;
// export const profileImage = "http://localhost:8080/storage/image";
